<form  #companyForm="ngForm" (ngSubmit)="onSubmit(companyForm)">
    <input type="hidden" name="CompanyIndex" #CompanyIndex="ngModel" [(ngModel)]="companyService.selectedCompany.CompanyIndex">
 
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="CompanyName" #CompanyName="ngModel" [(ngModel)]="companyService.selectedCompany.CompanyName"
        placeholder="Company Name" required>
      <div class="validation-error" *ngIf="CompanyName.invalid && CompanyName.touched">This Field is Required.</div>
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" name="CompanyAddress" #CompanyAddress="ngModel" [(ngModel)]="companyService.selectedCompany.CompanyAddress" placeholder="Company Address "
        required>
      <div class="validation-error" *ngIf="CompanyAddress.invalid && CompanyAddress.touched">This Field is Required.</div>
    </div>
  </div>
  <div class="form-group">
    <input class="form-control" name="CompanyID" #CompanyID="ngModel" [(ngModel)]="companyService.selectedCompany.CompanyID" placeholder="CompanyID ">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input class="form-control" name="CompanyEmail" #CompanyEmail="ngModel" [(ngModel)]="companyService.selectedCompany.CompanyEmail" placeholder="CompanyEmail ">
    </div>
    <div class="form-group col-md-6">
      <input class="form-control" name="CompanyPhoneNo" #CompanyPhoneNo="ngModel" [(ngModel)]="companyService.selectedCompany.CompanyPhoneNo" placeholder="CompanyPhoneNo ">
    </div>
    <div class="form-group col-md-6">
        <input class="form-control" name="CompanyContactPerson" #CompanyContactPerson="ngModel" [(ngModel)]="companyService.selectedCompany.CompanyContactPerson" placeholder="CompanyContactPerson ">
      </div>
   
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <button [disabled]="!companyForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
        <i class="fa fa-floppy-o"></i> Submit</button>
    </div>
    <div class="form-group col-md-4">
      <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(companyForm)">
        <i class="fa fa-repeat"></i> Reset</button>
    </div>
  </div>
</form>